@media only screen and (min-width: 1200px) {
.desktopHide{
    display: none !important;
}
}
@media only screen and (max-width: 1200px) {
    .desktopHide{
        display: block !important;
    }
    }

    .Rates>span{
        padding: 0px 7px;
        border-radius: 5px;
      }
      .down{
        background-color: red;
        color: white;
      
      }
      .up{
        background-color: green;
        color: white;
      
      }
      .eq{
        background-color: transparent;
        color: white;
      
      }
      /* .customBackground>.eq{
        background-color: transparent;
        color: white !important;
      
      } */
      .headTable{
          background:transparent;
      }
      .trDff1{

        background-color: white;
        margin: 10px 0;
      }
      .trDff{
        cursor: pointer;
        background-color: white;
        margin: 10px 0;
        border: solid 2px #ffc300;

      }
      .trDff1{
    
        background-color: white;
        margin: 10px 0;
        /* border: solid 1px yellow; */

      }
      .trDff:hover{
        /* background-color: #f2f2f2; */
        border: solid 2px red;
      }
      .customeDiv{
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 7px;
        background-color: #060d12;
        color: white;
      }
      .nagetiveMargin{
          margin-bottom: -5px !important;
      }
      
      .dnadnA{
          margin-top: 30px;
          margin-bottom: 60px;

      }
      
@media only screen and (min-width: 600px) {
    .marginTop12{
        margin-top:12px;
      }
    .customH1{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    .customH4{
        font-size: 1.5rem;
    }
    .customH41{
        font-size: 1.5rem;
    }
    .customH5{
        font-size: 1.25rem;
    }
    .customH6{
        font-size: 1rem;
    }
    .marqueeDiv{
        margin: 80px  0;
    }
    .loginDiv{
        width: 33vw;
        max-width: 450px;
        /* height: 400px; */
        /* background-color: white; */
    }
    .loginImage{
        width: 250px;
    }
}
@media only screen and (max-width: 600px) {
    .marginTop12{
        margin-top:8px;
      }
    .customH1{
        font-size: 1rem;
        margin-bottom: 5px;

    }
    .customH4{
        font-size: 1rem;
    }
    .customH41{
        font-size: 1.3rem;
    }
    .customH5{
        font-size: 1.1rem;
    }
    .customH6{
        font-size: 0.8rem;
    }
    .marqueeDiv{
        margin: 50px 0 30px 0;
    }
    
.loginDiv{
    width: 90vw;
    /* height: 400px; */
    
    /* background-color: white;     */
}
.loginImage{
    width: 50vw;
}
}
.customRow{
    width: 100%;
    display: block;
}
.customeDiv>.col-3{
    padding: 0;
}
.basvamn{
    font-family: "Century Gothic";
    line-height: 30px;
}
.text-gray-90:hover>span{
    color: #fed700;
}

.linkClass{
    color:#554e6b !important;
}
.customWidth{
    width: 160px;
}
.cutomRow{
    padding: 2vw;
    text-align: center;
    margin: auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.bankDiv{
    font-size: large;
    margin-top: 5px;
}
.bankImage{
    border: solid 1px;
}
.meaasgeDiv{
    margin: 15px;
    border: solid 1px;
border-radius: 5px;
}
.messageImage{
    margin-top: auto;
    padding: 0 !important;
    width: 100%;
    margin-bottom: auto !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.imageDiv{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bankDiv>p{
    margin-bottom: 5px;
}
.mb-0{
    color: black;
}
.buttomBorder{
    border-bottom: solid 1px #f1eded;
}
.nasaans::before{
    display: none;
}
.loginDiv{
    background-color: #383838;
    border-radius: 20px;
    padding: 40px 60px 50px 60px;
    text-align: center;
}
.newBtnSignIn{
	border-radius: 5px !important;
	margin-bottom: 5px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 100%;
    height: 50px;
    border: solid 1px #c0a50b;
    /* border-radius: 16px; */
    background-color: #c0a50b;
    font-size: 14px;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: 500;
}
.newBtnSignIn:hover{
    background-color: #383838;
    color:white
}
.extraDivForLogin{
    padding-top: 20px;
    /* padding-bottom: 10px; */

}
.editSpan{
    color: #c0a50b;
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
}
.userInput{
	display: flex;
	justify-content: center;
}
.abc{
	margin: 10px;
	height: 35px;
	width: 36px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: arimo;
	font-size: 1.2rem;
	background: #4b515f;
	color:white

}
.editSFd{
	font-size: 14px;
	color:white;
	font-weight: 500;
	cursor: pointer;
	text-align: center;
	margin: 5px 0px 5px 0;
}
.editSpan1{
	font-size: 14px;
	color:#c0a50b;
	font-weight: 500;
	cursor: pointer;
}
.editSpan1:hover{
    color:tomato
}
.inputCustom{
    border-radius: 5px;
    background-color: #4b515f !important;
    color: white !important;
}
.inputCustom::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  .inputCustom:focus{
	border-color:#c0a50b !important;

  }
  #mCSB_1{
      background-color: #383838 !important;
  }
  #headerSidebarList>li>a{
      color:white
  }
  #headerSidebarList>li{
    margin: 10px 0;
}
.divDis{
    /* display: flex; */
}
.hindadsa{
    /* margin-top: auto;
    margin-bottom: auto; */
}
.droupDown{
    position: absolute;
    padding-top: 25px;
}
.droupDownItem{
    background-color: red;
    height: 200px;
    width: 150px;
}
@media only screen and (max-width: 600px) {

.messagePopup{
    padding: 20px 40px;
    width: 85vw;
    /* font-family: 'Century Gothic'; */
    font-size: 22px;
}
}
@media only screen and (min-width: 600px) {
    .messagePopup{
        padding: 20px 40px;
        width: 35vw;
        /* font-family: 'Century Gothic'; */
        font-size: 22px;
    }

}
.customModalNews{
    border-radius: 10px;
}
.messagePopup>p>strong{
    font-weight:500;
}
.newSpan:hover>i{
    color:#fed700
}
.newSpan{
    cursor: pointer;
}
#headerSidebarList{
    margin-top: 1rem;
}
#headerSidebarList>li{
    padding: 10px 2.5rem !important;
   cursor: pointer;
    margin: 0 !important;
    font-size: 16px;
}
#headerSidebarList>li:hover{
    background-color: #474747;
}
#headerSidebarContent{
    padding: 0 !important;
}
.customModal{
    min-width: 310px !important;
}
.react-responsive-modal-modal{
    border-radius: 10px;
}
.iconI{
    cursor: pointer;
    vertical-align: top;
    margin-top: 5px;
}
/* Tooltip container */
.custool {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .custool .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .custool:hover .tooltiptext {
    visibility: visible;
  }


.bgtyd{
    color: black;
    color: #000;
    background-color: #ffc300;
    width: fit-content;
    padding: 0 10px;

}
.marqueeDivMar{
    /* background-color: #FFC300 !important; */
}

.backgroundImage{
    background-image: url('https://www.pawarbullion.com/logo/pawan bullion-01 (1).png') !important;
    background-color: #00000030;
}
.cusToSelectE{
    height: 40px;
    width: 200px;
    float: right;
    cursor: pointer;
}
.btn{
    cursor: pointer !important;
}
@media only screen and (min-width: 600px) {
.mb-0{
    font-size: 30px !important;
}
}
@media only screen and (max-width: 600px) {
    .mb-0{
        font-size: 20px !important;
    }
}
.myClassA{
    vertical-align: super;
}
.customFontSizre{
    font-size: 16px;
}
.netChange{
    font-size: 14px;
    font-weight: 700;
}